# Dependencies
/vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage reports
/coverage/
clover.xml

# Composer
composer.lock
.php-cs-fixer.cache
.phpunit.cache/test-results
combined_test.xml
